@model IEnumerable<OnlineStore.Models.Worker>

<body class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Возраст</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var w in Model)
            {   
            <tr>
                <td>@w.Surname</td>
                <td>@w.Name</td>
                <td>@w.Patronymic</td>
                <td>@w.Age</td>
            </tr>
            }
        </tbody>
    </table>
    <hr />
    <a asp-controller="Home" asp-action="Index">На главную</a>
</body>
